http://realpython.com/pandas-merge-join-and-concat

inner join

In [1]:
import pandas as pd

kunde_tmp = pd.read_csv(".\data\kunde.csv")
mandant_tmp = pd.read_csv(".\data\mandant.csv")

In [3]:
kunde_tmp.head()
kunde_tmp.shape

(10, 2)

In [4]:
kunde_ein_Vertreter = kunde_tmp.query("VERTRETER == 'Boba'")
kunde_ein_Vertreter.head()

  VERTRETER  KDNR
0      Boba   201
1      Boba   202
2      Boba   203
3      Boba   204

In [6]:
inner_merged = pd.merge(kunde_ein_Vertreter, mandant_tmp)
inner_merged.head()

  VERTRETER  KDNR  MDID
0      Boba   201     1
1      Boba   202     1
2      Boba   203     1
3      Boba   204     1

In [7]:
inner_merged_total = pd.merge(kunde_tmp, mandant_tmp, on=["VERTRETER"])
inner_merged_total.head()

  VERTRETER  KDNR  MDID
0      Boba   201     1
1      Boba   202     1
2      Boba   203     1
3      Boba   204     1
4    Anakin   101     1

In [8]:
inner_merged_total.shape

(13, 3)

outer join

In [10]:
outer_merged = pd.merge(kunde_ein_Vertreter, mandant_tmp, how="outer", on=["VERTRETER"])
outer_merged.head()

  VERTRETER   KDNR  MDID
0      Boba  201.0     1
1      Boba  202.0     1
2      Boba  203.0     1
3      Boba  204.0     1
4    Anakin    NaN     1